<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posyandu</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <div class="big-wrapper light">
        <img src="/img/shape.png" alt="" class="shape" />

        <header>
          <div class="container">
            <div class="logo">
              <img src="/img/Favicon.png" alt="Logo" />
              <h3>Posyandu</h3>
            </div>

            <div class="links">
              <ul>
                <li><a href="/">Beranda</a></li>
                <li><a href="/login" class="btn">Login</a></li>
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Cegah Stunting,</h1>
                <h1>itu Penting!</h1>
              </div>
              <p class="text">
                Temukan informasi pertumbuhan yang lengkap, pantau perkembangan
                mereka, dan bersama-sama kita menanamkan dasar masa depan yang
                lebih sehat.
              </p>
              <div class="cta">
                <a href="/login" class="btn">Get started</a>
              </div>
            </div>

            <div class="right">
              <img src="/img/mama.png" alt="Product Image" class="product" />
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
